@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;700;900&display=swap");
.mainContacto {
  display: flex;
  margin: 0px;
  padding: 60px 60px 80px 60px; }
  .mainContacto .sectionContacto {
    width: 50%; }
    .mainContacto .sectionContacto h1 {
      margin-bottom: 30px; }
    .mainContacto .sectionContacto p {
      font-size: 30px; }
  .mainContacto .formularioBottomContacto {
    width: 50%;
    display: flex;
    justify-content: center; }
    .mainContacto .formularioBottomContacto ul li {
      list-style: none;
      margin-top: 20px;
      font-family: 'Anton', sans-serif;
      font-size: 24px; }
      .mainContacto .formularioBottomContacto ul li button {
        width: 240px;
        height: 60px;
        margin-top: 30px;
        background-color: #3885f0;
        border-radius: 15px;
        font-size: 30px;
        color: #e6e6e6; }
        .mainContacto .formularioBottomContacto ul li button:hover {
          width: 250px;
          height: 70px;
          border-radius: 20px;
          transition: 0.3s;
          cursor: pointer; }
    .mainContacto .formularioBottomContacto input {
      width: 200px;
      height: 30px; }

/* =-=-=-=- MEDIA QUERIES =-=-=-=- */
/* ==== TABLET ==== */
@media (min-width: 649px) and (max-width: 900px) {
  .mainContacto .sectionContacto h1 {
    font-size: 38px;
    margin-bottom: 20px; }
  .mainContacto .sectionContacto p {
    font-size: 24px; } }

/* ==== MOBILE ==== */
@media (min-width: 100px) and (max-width: 650px) {
  .mainContacto {
    flex-direction: column;
    padding: 40px; }
    .mainContacto .sectionContacto {
      width: 100%;
      text-align: center; }
      .mainContacto .sectionContacto h1 {
        margin-bottom: 30px; }
      .mainContacto .sectionContacto p {
        font-size: 20px; }
    .mainContacto .formularioBottomContacto {
      margin: 0 auto 30px auto;
      text-align: center; } }

main {
  background-color: rgba(29, 29, 27, 0.906); }
  main .galeria {
    width: 650px;
    height: 650px;
    margin: 0 auto 0 auto; }
    main .galeria .carousel {
      background-color: var(--Gris-medio); }
      main .galeria .carousel .carousel-inner .carousel-item .imagenChica {
        width: auto;
        height: 650px; }
      main .galeria .carousel .carousel-inner .carousel-item .imagenGrande {
        width: auto;
        height: 650px; }

/* =-=-=-=- MEDIA QUERIES =-=-=-=- */
/* ==== TABLET ==== */
@media (min-width: 649px) and (max-width: 900px) {
  main {
    background-color: rgba(29, 29, 27, 0.906); }
    main .galeria {
      height: 550px;
      width: 550px;
      margin: 0 auto 0 auto; }
      main .galeria .carousel .carousel-inner .carousel-item .imagenChica {
        height: 550px; }
      main .galeria .carousel .carousel-inner .carousel-item .imagenGrande {
        height: 550px; } }

/* ==== MOBILE ==== */
@media (min-width: 100px) and (max-width: 650px) {
  main {
    background-color: rgba(29, 29, 27, 0.906); }
    main .galeria {
      width: 550px;
      height: 550px;
      margin: 0 auto 0 auto; }
      main .galeria .carousel .carousel-inner .carousel-item .imagenChica {
        width: auto;
        height: 550px;
        place-self: center; }
      main .galeria .carousel .carousel-inner .carousel-item .imagenGrande {
        width: auto;
        height: 550px;
        place-self: center; } }

main .video {
  width: 90%;
  height: 800px;
  display: flex;
  margin: 0px auto 0px auto;
  padding: 60px; }

main .sectionPortafolio {
  display: flex; }
  main .sectionPortafolio .texto {
    width: 50%;
    margin-left: 80px; }
    main .sectionPortafolio .texto p {
      font-size: 30px; }

main .formularioBottomPortafolio {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px; }
  main .formularioBottomPortafolio ul li {
    list-style: none;
    margin-top: 20px;
    font-family: 'Anton', sans-serif;
    font-size: 24px; }
    main .formularioBottomPortafolio ul li button {
      width: 240px;
      height: 60px;
      margin-top: 30px;
      background-color: #3885f0;
      border-radius: 15px;
      font-size: 30px;
      color: #e6e6e6; }
  main .formularioBottomPortafolio input {
    width: 200px;
    height: 30px; }

/* =-=-=-=- MEDIA QUERIES =-=-=-=- */
/* ==== TABLET ==== */
@media (min-width: 649px) and (max-width: 900px) {
  main .video {
    height: 420px; }
  main .sectionPortafolio .texto {
    width: 50%;
    margin: 0 20px 0 40px; }
    main .sectionPortafolio .texto h1 {
      margin-bottom: 20px;
      font-size: 60px; }
    main .sectionPortafolio .texto p {
      font-size: 24px;
      margin-bottom: 20px; } }

/* ==== MOBILE ==== */
@media (min-width: 100px) and (max-width: 650px) {
  main .video {
    width: 90%;
    height: 220px;
    margin: 20px auto 60px auto; }
  main .sectionPortafolio {
    display: flex;
    flex-direction: column;
    text-align: center; }
    main .sectionPortafolio .texto {
      width: 100%;
      margin: 0px; }
      main .sectionPortafolio .texto h1 {
        font-size: 30px; }
      main .sectionPortafolio .texto p {
        font-size: 20px; }
    main .sectionPortafolio .formularioBottomPortafolio {
      width: 60%;
      margin: 0 auto 20px auto; } }

main .sectionQuienes {
  display: flex;
  align-items: center; }
  main .sectionQuienes img {
    width: 350px;
    height: auto;
    margin: 30px 80px 30px 30px; }
  main .sectionQuienes h2 {
    font-size: 60px; }
  main .sectionQuienes p {
    font-size: 30px;
    margin-top: 30px; }

/* =-=-=-=- MEDIA QUERIES =-=-=-=- */
/* ==== TABLET ==== */
@media (min-width: 649px) and (max-width: 900px) {
  main .sectionQuienes {
    padding: 20px; }
    main .sectionQuienes img {
      margin: 30px 30px 0px 0px; }
    main .sectionQuienes h2 {
      font-size: 50px;
      text-align: center; }
    main .sectionQuienes p {
      font-size: 26px;
      text-align: center; } }

/* ==== MOBILE ==== */
@media (min-width: 100px) and (max-width: 650px) {
  main .sectionQuienes {
    display: flex;
    align-items: center;
    flex-direction: column; }
    main .sectionQuienes img {
      width: 350px;
      height: auto;
      margin: 0 0 30px 0; }
    main .sectionQuienes div h2 {
      font-size: 60px; }
    main .sectionQuienes div p {
      font-size: 30px;
      margin-top: 30px; } }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: rgba(29, 29, 27, 0.906);
  color: #e6e6e6;
  background: #e6e6e6; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px; }

h2, h3, h4 {
  font-family: 'Roboto', sans-serif; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

a, button {
  font-family: 'Anton', sans-serif;
  font-size: 15px; }

.logo {
  width: 150px;
  height: auto;
  margin-top: 10px; }

header {
  background-color: #1d1d1b;
  display: flex;
  justify-content: space-around; }
  header nav div ul {
    display: flex;
    list-style: none;
    color: #e6e6e6; }
    header nav div ul li {
      color: #e6e6e6; }
      header nav div ul li a {
        text-decoration: none;
        margin-left: 40px;
        color: #e6e6e6;
        width: 100px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center; }

main {
  background-color: rgba(29, 29, 27, 0.906);
  color: #fff; }
  main .blockTop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px; }
    main .blockTop .imgBig {
      width: 350px;
      border-radius: 20px; }
    main .blockTop .blockTopText {
      width: 50%;
      margin-right: 15%; }
      main .blockTop .blockTopText h1 {
        margin: 20px 0px 0px 0px; }
      main .blockTop .blockTopText p {
        margin: 30px 0px 30px 0px;
        font-size: 22px; }
      main .blockTop .blockTopText button {
        width: 240px;
        height: 60px;
        background-color: #3885f0;
        border-radius: 15px; }
        main .blockTop .blockTopText button h2 {
          color: #e6e6e6;
          font-size: 30px; }
        main .blockTop .blockTopText button:hover {
          width: 250px;
          height: 70px;
          border-radius: 20px;
          transition: 0.3s;
          cursor: pointer; }
  main .blockTips {
    display: flex;
    justify-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px; }
    main .blockTips .icons {
      width: 80px;
      margin: 20px 0px 20px 0px; }
    main .blockTips div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .blockTips div h3 {
        text-align: center;
        font-size: 28px;
        margin: 10px 0 10px 0; }
      main .blockTips div p {
        width: 150px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 60px; }
  main .blockImg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-bottom: 50px; }
    main .blockImg .imagenRefuerzo {
      width: 350px;
      border-radius: 20px; }
    main .blockImg div {
      width: 600px; }
      main .blockImg div h2 {
        font-size: 42px;
        margin: 0px 0 30px 0; }
      main .blockImg div p {
        font-size: 26px; }
  main .blockForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px; }
    main .blockForm div {
      width: 600px; }
    main .blockForm h2 {
      font-size: 42px;
      margin: 0px 0 30px 0; }
    main .blockForm p {
      font-size: 26px; }
    main .blockForm .formularioBottom ul li {
      list-style: none;
      margin-top: 20px;
      font-family: 'Anton', sans-serif;
      font-size: 24px; }
      main .blockForm .formularioBottom ul li button {
        width: 240px;
        height: 60px;
        margin-top: 30px;
        background-color: #3885f0;
        border-radius: 15px;
        font-size: 30px;
        color: #e6e6e6; }
        main .blockForm .formularioBottom ul li button:hover {
          width: 250px;
          height: 70px;
          border-radius: 20px;
          transition: 0.3s;
          cursor: pointer; }
    main .blockForm .formularioBottom input {
      width: 200px;
      height: 30px; }

footer {
  display: flex;
  justify-content: space-around;
  background-color: #1d1d1b;
  padding: 30px 0 40px 0; }
  footer .blockLeft {
    display: flex;
    align-items: center; }
    footer .blockLeft a {
      margin-right: 25px; }
    footer .blockLeft ul {
      color: #e6e6e6; }
      footer .blockLeft ul li {
        list-style: none;
        display: flex;
        margin-top: 25px; }
        footer .blockLeft ul li i {
          margin-right: 15px; }
        footer .blockLeft ul li p {
          width: 140px; }
    footer .blockLeft h4 {
      margin-right: 15px; }
  footer .blockCenter ul {
    list-style: none;
    text-align: center;
    padding: 0; }
    footer .blockCenter ul li {
      margin-top: 10px; }
      footer .blockCenter ul li a {
        color: #e6e6e6;
        text-decoration: none; }
  footer .blockRight {
    display: flex;
    align-items: center; }
    footer .blockRight a {
      color: #e6e6e6;
      margin-left: 20px; }

/* =-=-=-=- MEDIA QUERIES =-=-=-=- */
/* ==== TABLET ==== */
@media (min-width: 649px) and (max-width: 900px) {
  header div a .logo {
    width: 120px; }
  header ul li a {
    margin-left: 15px;
    width: 70px;
    height: 50px;
    text-align: center; }
  main {
    background-color: rgba(29, 29, 27, 0.906); }
    main div .imgBig {
      width: 250px;
      border-radius: 20px; }
    main .blockTop {
      margin: 0px 30px 0 30px; }
      main .blockTop .blockTopText {
        width: 50%;
        margin-right: 15%; }
        main .blockTop .blockTopText h1 {
          margin: 10px 0px 0px 0px; }
        main .blockTop .blockTopText p {
          font-size: 20px; }
    main .blockTips {
      align-items: center;
      justify-content: space-around;
      padding-top: 30px; }
      main .blockTips .icons {
        width: 80px;
        margin: 20px 0px 20px 0px; }
      main .blockTips div {
        display: flex;
        flex-direction: column;
        align-items: center; }
        main .blockTips div h3 {
          text-align: center;
          font-size: 28px;
          margin: 10px 0 10px 0; }
        main .blockTips div p {
          width: 150px;
          text-align: center;
          font-size: 20px;
          margin-bottom: 60px; }
    main .blockImg {
      margin: 20px 30px 30px 30px; }
      main .blockImg .imagenRefuerzo {
        margin: 0 30px 0 0px;
        width: 300px; }
      main .blockImg div p {
        font-size: 24px; }
    main .blockForm div {
      width: 500px;
      margin: 0 20px 0 20px; }
  footer {
    flex-direction: column;
    align-items: center;
    padding: 30px 0 40px 0; }
    footer .blockLeft {
      flex-direction: column; }
      footer .blockLeft a {
        margin-bottom: 20px; }
      footer .blockLeft ul li p {
        width: 200px; }
    footer .blockCenter ul {
      list-style: none;
      margin: 25px 0 25px 0;
      text-align: center; } }

/* ==== MOBILE ==== */
@media (min-width: 100px) and (max-width: 650px) {
  header ul li a {
    margin-left: 0px;
    width: 50px;
    font-size: 10px; }
  main div .imgBig {
    width: 250px;
    border-radius: 20px; }
  main .blockTop {
    flex-direction: column-reverse;
    text-align: center;
    margin: 0px 0 0 0; }
    main .blockTop .blockTopText {
      width: 100%;
      margin-right: 0; }
      main .blockTop .blockTopText h1 {
        margin: 10px 0px 0px 0px;
        font-size: 40px; }
      main .blockTop .blockTopText p {
        font-size: 20px;
        margin: 20px; }
  main .blockTips {
    flex-direction: column; }
    main .blockTips .icons {
      margin: 10px 0px 10px 0px; }
    main .blockTips div p {
      margin-bottom: 30px; }
  main .blockImg {
    flex-direction: column-reverse; }
    main .blockImg .imagenRefuerzo {
      margin: 0;
      width: 300px; }
    main .blockImg div {
      width: 300px;
      margin-top: 20px;
      text-align: center; }
      main .blockImg div h2 {
        font-size: 32px;
        margin: 0px 0 30px 0; }
      main .blockImg div p {
        font-size: 20px; }
  main .blockForm {
    margin-bottom: 60px;
    flex-direction: column;
    text-align: center; }
    main .blockForm div {
      width: 300px;
      margin-bottom: 30px; }
    main .blockForm h2 {
      font-size: 40px;
      margin-bottom: 30px; }
    main .blockForm p {
      font-size: 20px; }
    main .blockForm .formularioBottom ul li {
      font-size: 20px; }
      main .blockForm .formularioBottom ul li button {
        width: 220px;
        margin-top: 20px;
        border-radius: 25px; }
    main .blockForm .formularioBottom input {
      width: 160px; }
  footer {
    flex-direction: column;
    align-items: center;
    padding: 30px 0 40px 0; }
    footer .blockLeft {
      flex-direction: column; }
      footer .blockLeft a {
        margin-bottom: 20px; }
      footer .blockLeft ul li p {
        width: 200px; }
    footer .blockCenter ul {
      list-style: none;
      margin: 25px 0 25px 0;
      text-align: center; } }
