
main {
    .galeria {
        width: 100%;
        height: 350px;
        .carousel {
            background-color: var(--Gris-medio);
            .carousel-inner {
                .carousel-item {
                        .imagenChica {
                            width: 350px;
                            height: 350px;
                        }
                        .imagenGrande {
                            width: auto;
                            height: 350px;
                        }
                }
            }

        }
    }
}