$gris-fuerte: hsl(60, 4%, 11%);
$gris-medio: hsla(60, 4%, 11%, 0.906);
$gris-claro: hsl(0, 0%, 90%);
$call-to-action: hsl(215, 86%, 58%);
/*
--Gris-fuerte: hsl(60, 4%, 11%);
--Gris-medio: hsla(60, 4%, 11%, 0.906);
--Gris-claro: hsl(0, 0%, 90%);
--Call-to-action: hsl(215, 86%, 58%);
*/